body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.tod0-title {
  cursor: pointer;
}

.completed-todo {
  text-decoration: line-through;
}

.tab-list > span {
  padding: 5px 7px;
  border: 1px solid rgb(13, 159, 204);
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}

.tab-list > span.active {
  background-color: rgb(13, 159, 204);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
